:root{
	--cred: #ffb7b7;
	--cblue: #a8d1ff;
	--cyellow: #fff2a8;
}

/*Text selection in different colors*/

p.red::selection {
  background: var(--cred);
}
p.red::-moz-selection {
  background: var(--cred);
}
p.blue::selection {
  background: var(--cblue);
}
p.blue::-moz-selection {
  background: var(--cblue);
}
p.yellow::selection {
  background: var(--cyellow);
}
p.yellow::-moz-selection {
  background: var(--cyellow);
}

/*Spans for headings*/
span {
	padding: 0.1em;
}

span.re {
	background-color: var(--cred);
}

span.bl {
	background-color: var(--cblue);
}

span.ye {
	background-color: var(--cyellow);
}